{% extends 'html/header.html' %}

{% block head %}
<title>About</title>
{% load static %}
{% endblock %}

{% block body %}

<!-- Start about section -->
<section id="about">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="about-area">
                <div class="row">
                  <div class="col-md-5 col-sm-6 col-xs-12">
                    <div style="padding:60px;" >
                      <img src={% static "images/mylogo.jpg" %} alt="img">
                    </div>
                  </div>
                  <div class="col-md-7 col-sm-6 col-xs-12">
                    <div class="about-right wow fadeInRight">
                      <div class="title-area">
                        <h2 class="tittle">About <span>Earning Adda</span></h2>
                        <span class="tittle-line"></span>
                        <p>If you are want to earn money online without any investment so follow us on youtube facebook and telegram. We are giveing you all recharge offer online earning trick and free shoping trick </p> 
    
                        <p>Also join our youtube channel for live video tutorial for more info tap on below button</p>
                        <div class="about-btn-area">
                          <a href="https://www.youtube.com/channel/UCzPiPIUr2ulQnHnCwS_OAFQ" class="button button-default" data-text="KNOW MORE"><span>KNOW MORE</span></a>
                        </div>                    
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> 
      <!-- End about section -->
    


{% endblock %}

