{% extends 'html/header.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}

 <!-- Start welcome area -->
 <div class="welcome-area">
        <div class="title-area" >
          <h2 style="margin:20px;" class="tittle">Welcome to <span>Earning Adda</span></h2>
          <span class="tittle-line"></span>
          <p>Earning Adda is the only one website they give you all paytm offers,loot scripts and awaysome deals at one place so please shear and press the bell icon</p>
        </div>
        <div class="welcome-content">
          <ul class="wc-table">
            <li>
              <div class="single-wc-content wow fadeInUp">
                <span class="fa fa-paypal wc-icon" style="font-size:48px"></span>
                <h4 class="wc-tittle">Paytm Offers</h4>
                <p>If you are a paytm user so stay with use we are tell all paytm offers at one place and give you best sugetion</p>
              </div>
            </li>
            <li>
              <div class="single-wc-content wow fadeInUp">
                <span class="fa fa-mobile wc-icon" style="font-size:48px"></span>
                <h4 class="wc-tittle">Free Recharge</h4>
                <p>We are telling all free recharge loot at one place like paytm freecharge amazon and etc.</p>
              </div>
            </li>
            <li>
              <div class="single-wc-content wow fadeInUp">
                <span class="fa fa-shopping-cart wc-icon" style="font-size:48px"></span>
                <h4 class="wc-tittle">Free Shopping</h4>
                <p>Paytm mall lanching new promocode every time we are telling you about new promo code and give you best sugetion </p>
              </div>
            </li>
            <li>
              <div class="single-wc-content wow fadeInUp">
                <span class="fa fa-inr wc-icon" style="font-size:48px"></span>
                <h4 class="wc-tittle">Online Earning</h4>
                <p>If you have 4G Mobile then follow use for online earning like Paytm earning and all offers loot</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- End welcome area -->{% endblock %}

