<!DOCTYPE html>
<html>
<head>
{% load static %}
    <title>Payout Rates</title>
    <link href={% static "css/bootstrap.min.css" %} rel="stylesheet">

    
</head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home</title>

    <!-- Bootstrap core CSS -->
    <link href={% static "css/bootstrap.min.css" %} rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom fonts for this template -->
    <link href={% static "css/all.min.css" %} rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href={% static "css/agency.min.css" %} rel="stylesheet">
    <!-- animation on scrolling css -->
    <link href={% static "css/aos.css" %} rel="stylesheet">

<body style="background-image:url({% static 'img/bg.png' %})">
    <nav style="background-color:black;height: 60px;"  class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                    <a class="navbar-brand js-scroll-trigger" href="../">Click To Earn</a>

              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                        <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="../">Home</a>
                            </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="../payout">Payout Rates</a>
                    </li>
                  <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="../login">Login</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link js-scroll-trigger" href="../signup">Sign Up</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
   <div class="container" style="padding:20px;" >
        <div class="container" >
                <div class="container" >
                        <br/><br/>
        <div class="jumbotron" data-aos="zoom-in-up" data-aos-easing="linear"
        data-aos-duration="800">
                <h1 class="display-3">Payout Rates</h1>
                <p class="lead">We will pay our all user upto 1000 Rs Per Day <br/>Refer friends and receive 30% of their earnings for life-time commission!</p>
                <hr class="my-4">
                <p>I have compare some website payout rate for Indian User's. (all Payout rate get from website pages and user reviews on July 2018, i will not confimed this payout rate is correct or not.) All payout as appox.</p>
              </div>
              <table class="table table-hover" data-aos="flip-left"
              data-aos-easing="ease-out-cubic"
              data-aos-duration="2000">
                    <thead>
                      <tr class="table-success">
                        <th scope="col">URL SHORTENER WEBSITE'S</th>
                        <th scope="col">PAYOUT IN INDIA PER 1000 CLICK</th>
                        <th scope="col">MIN. WITHDRAW</th>
                        <th scope="col">REFERRAL COMMISSION </th>
                      </tr>
                    </thead>
                    <tbody>
                     
                      <tr class="table-light">
                        <th scope="row">adf.ly</th>
                        <td>$1.28</td>
                        <td>$5</td>
                        <td>20%</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">linkshrink.net</th>
                        <td>$0.86</td>
                        <td>$5</td>
                        <td>20%</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">ouo.io</th>
                        <td>$1.50</td>
                        <td>$5</td>
                        <td>20%</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">shorte.st</th>
                        <td>$1.59</td>
                        <td>$5</td>
                        <td>20%</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">za.gl</th>
                        <td>$1.50</td>
                        <td>$2</td>
                        <td>50%</td>
                      </tr>
                      <tr class="table-info">
                        <th scope="row">Click2Earn</th>
                        <td>100 Rs</td>
                        <td>100 Rs</td>
                        <td>30%</td>
                      </tr>
                      
                     
                    </tbody>
                  </table> 
                 

<br/>
<div class="alert alert-dismissible alert-info" data-aos="zoom-in-up" data-aos-easing="linear"
data-aos-duration="800">
        <h4 class="alert-heading">SIGNUP NOW AND EARN MONEY FROM TODAY.</h4>
        <p class="mb-0">Click2Earn GIVE YOU HIGHEST PAYOUT RATE FOR INDIAN USER'S ALSO WE PAY PAYMENT THROUGH PAYTM.</p>
      </div>
    </div></div></div>
    <!-- Bootstrap core JavaScript -->
    <script src={% static "js/jquery.min.js" %}></script>
    <script src={% static "js/bootstrap.bundle.min.js" %}></script>

    <!-- Plugin JavaScript -->
    <script src={% static "js/jquery.easing.min.js" %}></script>

    <!-- Contact form JavaScript -->
    <script src={% static "js/jqBootstrapValidation.js" %}></script>
    <script src={% static "js/contact_me.js" %}></script>

    <!-- Custom scripts for this template -->
    <script src={% static "js/agency.min.js" %}></script>

    <!-- animation on scrolling -->
    <script src={% static "js/aos.js" %}></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script>
        AOS.init();
      </script>

  <!-- count up on scrolling-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script src={% static "js/jquery.countup.js" %}></script>
<script>
$('.counter').countUp();
</script>
</body>
</html>